body {
  font-family: Arial;
  background: #f4f8fb;
  padding: 30px;
}

form {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
}

input, select, textarea, button {
  width: 100%;
  margin-top: 10px;
}
